body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/static/image/background-blue.jpg");
  overflow: hidden;
}

.container {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(6, 6, 6, 0.5);
  width: 350px;
  text-align: center;
  color: black;
}

.container h1 {
  color: #121e1e;
  font-size: 28px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.container input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  margin-right: 30px;
  width: 325px;
  border: none;
  border-radius: 8px;
  outline: none;
  background: rgba(12, 12, 12, 0.2);
  color: #000;
  font-size: 16px;
}

.container input::placeholder {
  color: rgba(31, 29, 29, 0.7);
}

.container button {
  width: 100%;
  padding: 12px;
  margin: 15px 0;
  border: none;
  border-radius: 8px;
  background: #2980b9;
  color: #111211;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.container button:hover {
  background: #2a83be;
  color: #0f1010;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.8);
}

.otp-input-container {
  display: flex;
}

.otp-input-container input {
  width: 10px;
  height: 10px;
  text-align: center;
  font-size: 14px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.otp-input-container input:focus {
  border-color: #2980b9;
  box-shadow: 0 0 5px rgba(53, 113, 182, 0.8);
}
