<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - RailTel Portal</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/css/login.css">
</head>

<body>
  <div class="container">
    <img src="static/image/railtel-logo80.png" alt="RailTel Logo">
    <h1>RailTel Events</h1>

    <!-- Registration Form -->
    <form id="forgotPassForm">
      <input type="hidden" id="csrfToken" name="csrf_token" value="{{ csrf_token() }}">
      <!-- CSRF token for security -->

      <input type="text" id="regMail" name="regMail" placeholder="Enter your Registered Mail ID" required>

      <button type="button" onclick="ForgotPass()">Send OTP</button>
    </form>

  </div>

  <script>

    async function ForgotPass() {
      const regMail = document.getElementById("regMail").value.trim();
      const csrfToken = document.getElementById("csrfToken").value; // Get the CSRF token

      if (!regMail.endsWith("@railtelindia.com")) {
        alert("Please enter a valid RailTel India email ID.");
        return;
      }

      // Send data to Flask backend
      try {
        const formData = new FormData();
        formData.append("regMail", regMail);
        formData.append("csrf_token", csrfToken); // Include the CSRF token

        const response = await fetch('/forgot-password', {
          method: 'POST',
          body: formData
        });

        if (response.redirected) {
          // Follow the backend redirect
          window.location.href = response.url;
        } else {
          const result = await response.text();
          // console.log({ result });
          if (result.includes("OTP sent")) {
            alert("OTP sent to your email address.");
          }
          if (result.includes("Failed to send OTP")) {
            alert("Failed to send OTP, please contact SOC Support.");
          } else {
            alert("Registration failed. Please try again.");
          }
        }
      } catch (error) {
        alert("An error occurred: " + error.message);
      }
    }

    // Add event listener for Enter key
    document.getElementById("regMail").addEventListener("keydown", function (event) {
      if (event.key === "Enter") {
        event.preventDefault(); // Prevent default form submission
        ForgotPass(); // Call the ForgotPass function
      }
    });
  </script>

</body>

</html>